<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusHub</title>

    <!-- Load saved theme -->
    <script>
        (() => {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme === "dark") {
                document.documentElement.classList.add("dark");
            }
        })();
    </script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">


</head>

<body>

    <%- include('partials/navbar') %>

    <main class="main-container">

        <section class="hero">

            <div class="hero-top">

                <div>

                    <h1>Welcome to CampusHub</h1>

                    <p>
                        Access your student resources, connect with peers and manage your campus life efficiently.
                    </p>

                </div>

                <button id="themeToggle" class="theme-toggle" type="button">
                    🌙 Dark Mode
                </button>

            </div>

        </section>

    </main>

        <script>

        const themeToggle = document.getElementById("themeToggle");

        function updateThemeButton() {

            if (document.documentElement.classList.contains("dark")) {
                themeToggle.textContent = "☀ Light Mode";
            } else {
                themeToggle.textContent = "🌙 Dark Mode";
            }

        }

        updateThemeButton();

        themeToggle.addEventListener("click", () => {

            document.documentElement.classList.toggle("dark");

            if (document.documentElement.classList.contains("dark")) {
                localStorage.setItem("theme", "dark");
            } else {
                localStorage.setItem("theme", "light");
            }

            updateThemeButton();

        });

    </script>

</body>
</html>